 <!--Bottom Navbar-->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class=" navbar-text"> &copy; 2022 Mutasim Rahman</h6>
      <ul class="links"> 
        <li> <a href="https://github.com/mutasim1475"><i class="fa-brands fa-github fa-lg"> </i></a></li>
        <li> <a href="https://www.linkedin.com/in/mutasim-rahman-751411212"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
      </ul >    
    </nav>
