<%- include ("./partials/header") %> 
<%- include ("./partials/main_nav") %>

<div class="About">
    <div class="container">                    
        <img src="./Assets/Images/PCPic1.jpg" id="PC_1" alt="PC Pic 1"/>
        <video autoplay muted controls poster="Logo.png" preload>
            <source src="./Assets/Videos/Video.mp4" type="Video/mp4">
            <source src="./Assets/Videos/Video.ogv" type="Video/ogg">
            Your browser does not support mp4 videos, change browser!!!!
        </video> 
        <img src="./Assets/Images/PCPic2.jpg" id="PC_2" alt="PC Pic 2"/> 
    </div>    
    <article>
        <h1>About Me</h1>
        <p>My name is Mutasim Rahman. I am currently a second year student studying Networking and IT Security at Ontario Tech. My hobbies include but are not limited to video games, computers, keyboards, and sports. If you like what you see, head over to my <a href="https://www.custompcbuilderandrepairservices.ca/">website</a> to see more awesome PCs!!!! </p>
    </article>
</div>  

<%- include ("./partials/bottom_nav") %> 
<%- include ("./partials/footer") %> 
