<%- include ("./partials/header") %> 
<%- include ("./partials/main_nav") %>

<div class="Home">
  <h1>Mutasim Rahman</h1>
  <h2>Click <a href="/about"> here </a> to learn more</h2>
</div>  

<%- include ("./partials/bottom_nav") %> 
<%- include ("./partials/footer") %> 

